<.flash_group flash={@flash} />
<%= for day <- @days do %>
    <h1><%= day %></h1>
    <%= for {time_movie, idx} <- Enum.with_index(Tuple.to_list(@schedule[day])) do %>
        <span><%= time_movie %></span>
        <%= if rem(idx, 2) == 1 do %>
          <br/>
        <% end %>
    <% end %>
<% end %>
